body {
  margin: 20px auto;
  max-width: 95%;
  border: 1px solid black;
}

header {
  display: flex;
}

#logo {
  height: 80px;
  margin: auto 10px auto 10px;
}

h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin: auto auto auto 10px;
}

nav {
  margin: auto 10px auto auto;
}

nav ul {
  display: flex;
}

nav li {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
}

#top {
  display: inline-flex;
}

section {
  border: 1px solid black;
}

h2 {
  margin: 10px;
  text-align: center;
}

p {
  margin: 10px;
}

#resultstracker {
  max-width: 30%;
  margin: 50px;
  display: inline-block;
}

#resultslist {
  margin: 10px 20px 20px 20px;
  list-style: circle;
}

#resultsbutton {
  display: block;
  object-position: center;
  margin: 10px auto 10px auto;
}

#productgallery {
  display: inline-block;
  max-width: 70%;
}

#productselector {
  text-align: center;
}

fieldset div {
  display: inline-block;
  border: 1px solid black;
}

div img {
  width: 240px;
  height: 200px;
  display: block;
  border-bottom: 1px solid black;
}

#votebutton {
  display: block;
  object-position: center;
  margin: 10px auto 10px auto;
}

#text {
  display: block;
}

canvas {
  margin: 20px auto;
  max-width: 90%;
  border: 1px solid black;
}

footer {
  border-top: 1px solid black;
  height: 100px;
}